{% extends 'base.html' %}
{% block title %} Frequently Asked Questions {% endblock %}

{% block content%}


<h1>Frequently Asked Questions (FAQ)</h1>
<p>Here you can find answers to common questions about the website.</p>

<hr>
<details>
    <summary><strong>General Questions (Click to reveal)</strong></summary>
    <h5>1. What is this website for?</h5>
    <ul>
        <li>
            Its a platform for <a href="https://portal.ku.edu.kw" target="_blank">Kuwait University</a> students and
            graduates to share, study materials, join discussions, and explore career guidance.
        </li>
    </ul>
    <h5>2. Do i need an Account to use this website?</h5>
    <ul>
        <li>
            Yes, you must use your University ID and password to Login
        </li>
    </ul>
</details>

<hr>


<details>
    <summary><strong>Career Guidance Questions (Click to reval)</strong></summary>
    <h5>3. Where can i find job opportunities?</h5>
    <ul>
        <li>
            After logging, please head to the <a href="../Templates/career.html" target="_blank">Career Guidance</a>
            page.
    </ul>
</details>

<hr>

<details>
    <summary><strong>Account help (Click to reveal)</strong></summary>
    <h5>4. How to reset my password?</h5>
    <ul>
        <li>Click "Forget password" or head to the <a href="https://portal.ku.edu.kw" target="_blank">Ku portal</a>
            to reset your password.</li>
    </ul>
</details>

<hr>

<details>
    <summary><strong>Technical help</strong></summary>
    <h5>5. How to contact for help?</h5>
    <ul>
        <li>Please visit the <a href="../Templates/contact.html" target="_blank">Contact</a> page.</li>
    </ul>
</details>

{% endblock %}